body {
    background-color: #dbd6e6;
}

h1 {
    color: #9C0F48;
}

h3 {
    color: #7e0c39;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
